body{
    color: white;
    font-family: 'Play', sans-serif;
    background-color: rgb(54, 22, 14);
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.game-board{
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    height: 620px;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}
.grid{
    background-color: rgba(133, 116, 68, 0.692);
    height: 200px;
    width: 200px;
    font-size: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid:hover{
    background-color: rgba(255, 255, 255, 0.151);
}
.sum-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    gap: 100px;
}
.continue{
    margin: 30px;
    width: 80%;
    height: 70px;
    font-size: 40px;
    cursor: pointer;
}
.select-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    gap: 20px;
}
.color-container{
    height: 100%;
    width: 80%;
    border: 1px solid white;
}
.select-title{
    margin: 20px;
}